name: Unit Tests
env:
    NODE_COVERALLS_DEBUG: 1
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types:
      - released

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - run: npm install
      - run: xvfb-run -a npm test
        if: runner.os == 'Linux'
      - run: npm test
        if: runner.os != 'Linux'
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ github.token }}
          parallel: true
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - name: Install the dependencies
        run: npm i
        if: github.event_name == 'release'
      - name: Install vsce
        run: npm i -g vsce
        if: github.event_name == 'release'
      - name: Publish
        run: vsce publish -p ${{ secrets.VSCE_PAT }}
        if: github.event_name == 'release'
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ github.token }}
        parallel-finished: true
